#footer
  .container.text-center
    div
      strong Numerical Analysis II Projects
      |  ·
      | Created by
      a(href='http://karljakober.com')  Karl Jakober
    div
      a(href='https://github.com/karljakober/NumericalAnalysis') GitHub Project